* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.mainsite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(207, 129, 129);
}

.maintext {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
}

.forml {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 183, 197);
    height: 100vh;
    width: 50vw;
    transition: .5s all;
    color: black;
}

.formr {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 32, 73);
    height: 100vh;
    width: 50vw;
    transition: background-color .2s ease;
    color: black;
}

.forml:hover {
    cursor: pointer;
    background-color: rgb(135, 225, 233);
}

.formr:hover {
    cursor: pointer;
    background-color: rgb(240, 97, 133);
}